# virtuální prostředí pythonu
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# testy
.pytest_cache/
.coverage
htmlcov/

# dokumentace
doc/html/
doc/latex/
doc/xml/

# archivy
*.tar.gz
*.zip

# vscode
.vscode/
.idea/

